# Models
## Creating General and Individual models to predict Rating Percieved Exertion (RPE)
Using the `data/initial_features.csv` dataset and the Pycaret library, we will create models to predict the Rating Percieved Exertion of our subjects. We will create a general model to predict the RPE of any subject, and an individual model to predict the RPE of a specialized subject. 

#### What is Rating Percieved Exertion?
The Borg Rating of Perceived Exertion (RPE) is a way of measuring physical activity intensity level. Perceived exertion is how hard you feel like your body is working.

An image of the RPE scale for reference:

![RPE Scale](https://www.researchgate.net/publication/327632653/figure/tbl2/AS:670492033830922@1536869166661/Rating-of-Perceived-Exertion-RPE-Scale-Borg-1962.png)
<sub>From researchgate.net</sub>

#### First, we will import necessary libraries

In [68]:
import matplotlib.pyplot as plt
from pycaret.datasets import get_data
from pycaret.regression import *

#### Next, we clean data
The new columns *weight* and *pace* are added using the `experimental_condition` column.
The RPE column has several NA values, so we replace those with necessary values

<sub>Will improve this explanation later if needed</sub>

In [69]:
df = get_data('data/initial_features')

df[['weight', 'pace']] = df['experimental_condition'].str.split('-', expand=True)

df['weight'] = df['weight'].str.replace('Condition ', '').astype(float)
df['pace'] = df['pace'].astype(int)

In [70]:
df['rpe'] = df['rpe'].fillna(method='ffill')
df['rpe'] = df['rpe'].astype(int)       # Change this to float if necessary

First, I will create a general model to predict one of the conditions. In this example, I will use condition 1.5 - 15.

In [71]:
filt_condition = df['experimental_condition'] == 'Condition 1.5-15'
filt_subject = df['subject'] == 1

df_condition = df[filt_condition]

In [72]:
# Training a general model using specific condition (here, Condition 1.5-15)
train = df_condition.loc[df_condition['subject'].isin(range(1, 13))]
test = df_condition.loc[df_condition['subject'].isin(range(13, 16))]

reg = setup(data=train, target='rpe')
model_condition = compare_models()
predictions = predict_model(model_condition, data=test)

Initiated  . . . . . . . . . . . . . . . . . .              22:20:53
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Now, I'll create a general model for all conditions

In [73]:
# Training a general model for all conditions
train = df.loc[df['subject'].isin(range(1, 13))]
test = df.loc[df['subject'].isin(range(13, 16))]

reg = setup(data=train, target='rpe')
model_general = compare_models()
predictions = predict_model(model_general, data=test)

Initiated  . . . . . . . . . . . . . . . . . .              22:21:47
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

We can see that the model for all conditions is worse than the model for the specified condition, although neither are very good.

Now, we'll create an individual model for a sample subject. For this example, we will create an individual model for subject 1.

In [74]:
df_subject = df[filt_subject]

train = df_subject.sample(frac=0.8, random_state=42)
test = df_subject.drop(train.index)

reg = setup(data=train, target='rpe')
model_subject = compare_models()
predictions = predict_model(model_subject, data=test)

Initiated  . . . . . . . . . . . . . . . . . .              22:22:51
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

So far, this model has been by far the best and most accurate at predicting. Its R<sup>2</sup> value is over 0.9, and the MAE/MSE/RMSE scores are all much closer to 0. These are all very good signs of high accuracy. But what if we create a general model for subject 1 and specify a condition? 

In this next example, we will create an individual model for subject 1 under Condition 1.5-15.

In [75]:
df_subject_condition = df[(df['experimental_condition'] == 'Condition 2.5-15') & filt_subject]

train = df_subject_condition.sample(frac=0.8, random_state=42)
test = df_subject_condition.drop(train.index)

reg = setup(data=train, target='rpe')
model_subject_condition = compare_models()
predictions = predict_model(model_subject_condition, data=test)

Initiated  . . . . . . . . . . . . . . . . . .              22:23:46
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

This model is the most accurate at predicting so far. However, it is important to note that this model is relying only on 98 rows of data to make its analysis, so it may not be entirely reliable. We can see the size of each of the datasets used below:

In [67]:
print("--= Number of rows =--")
print("General model: \t\t" + str(df.shape[0]))
print("Subject model: \t\t" + str(df_subject.shape[0]))
print("Condition model: \t" + str(df_condition.shape[0]))
print("Subject-condition model: " + str(df_subject_condition.shape[0]))

--= Number of rows =--
General model: 		2895
Subject model: 		280
Condition model: 	899
Subject-condition model: 98

We can see that the subject-condition model has by far the smallest dataset, being only 35% the size of the next smallest data set (the subject model). This *may* be reason to doubt the accuracy of this model.