In [35]:
from pycaret.datasets import get_data

In [36]:
df = get_data('outputs/elapsed_time')

df_c1 = df[df['Combinations'] == 1]
df_c3 = df[df['Combinations'] == 3]

  Type  Time (seconds)  Combinations
0   df    59156.609107             3
1  csv    17675.499572             3
2  pre    56940.859949             3
3   df    86895.136639             3
4  csv    23778.281485             3

In [37]:
df_c3[df_c3['Type'] == 'df']['Time (seconds)']

0     59156.609107
3     86895.136639
15    23852.588814
Name: Time (seconds), dtype: float64

In [38]:
df_c3[df_c3['Type'] == 'csv']['Time (seconds)']

1     17675.499572
4     23778.281485
16    66577.473580
Name: Time (seconds), dtype: float64

In [39]:
df_c3[df_c3['Type'] == 'pre']['Time (seconds)']

2     56940.859949
5     22948.700840
17    67954.376360
Name: Time (seconds), dtype: float64

In [40]:
min_times_c1 = {}
min_times_c1['df'] = df_c1[df_c1['Type'] == 'df']['Time (seconds)'].min()
min_times_c1['csv'] = df_c1[df_c1['Type'] == 'csv']['Time (seconds)'].min()
min_times_c1['pre'] = df_c1[df_c1['Type'] == 'pre']['Time (seconds)'].min()

In [41]:
min_times_c3 = {}
min_times_c3['df'] = df_c3[df_c3['Type'] == 'df']['Time (seconds)'].min()
min_times_c3['csv'] = df_c3[df_c3['Type'] == 'csv']['Time (seconds)'].min()
min_times_c3['pre'] = df_c3[df_c3['Type'] == 'pre']['Time (seconds)'].min()

In [42]:
min_times_c1

{'df': 860.5249879000476, 'csv': 860.1604118999094, 'pre': 862.7980473999633}

In [43]:
min_times_c3

{'df': 23852.58881370001, 'csv': 17675.4995719, 'pre': 22948.700839700003}